<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <p><a class="navbar-brand">To Do App - Lista rzeczy do zrobienia</a></p>
        <p class="navbar-text navbar-right">
            <a ng-show="home.email != '' " class="navbar-brand navbar-center">Zalgowany jako {{ home.email }}</a>
            <input ng-show="home.email == '' " ng-model="email" />
            <button type="button" class="btn btn-default btn-info" ng-click=home.setEmail(email)>{{ home.logged }}</button>
        </p>
    </div>
</nav>

<br>
<br>
<br>
<br>

<div ng-show="home.logged == 'Wyloguj' ">
    <!--<input size="50" ng-model="task" />-->
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Nazwa zadania:</span>
        <input size="50" ng-model="task" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
    <button type="submit" class="btn btn-danger" ng-click=home.addTask(task)>Dodaj zadanie</button>
    <br>
    <br>
</div>

<div>
    <ul class="nav navbar-nav">
        <button type="button" class="btn btn-primary" ng-click="home.filterTasks('all')">Zadania</button>
        <button type="button" class="btn btn-success" ng-click="home.filterTasks('mine')">Moje zadania</button>
    </ul>
</div>

<br>




<br>
<br>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{ ((home.tasks | filter : {done : true}).length)/(home.tasks.length)*100 }}%">
        <span class="sr-only">70% Complete</span>
    </div>
</div>
<div style="display: table;">
    <div style="display: table-cell; width:500px;" align='left'>
        <ul>
            <p>Do zrobienia <span class="badge">{{ (home.tasks | filter : { done : false }).length }}</span></p>
            <div class="well" ng-repeat="task in home.tasks | filter:home.filter | filter: { done : false }">
                <h3>{{ task.name }}</h3>
                <p>{{ task.mail }}</p>
                <div>
                    <span class="pull-right">
                        <button ng-show="home.logged == 'Wyloguj' && home.email == task.mail" class="btn btn-danger btn-xs" ng-click="home.removeTask(task)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-success btn-xs" ng-click="home.setStatus(task, 'done')">
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>
            </div>
        </ul>
    </div>

    <div style="display: table-cell; width:500px;" align='left'>
        <ul>
            <p>Gotowe <span class="badge">{{ (home.tasks | filter : { done : true }).length }}</span></p>
            <div class="well" ng-repeat="task in home.tasks | filter:home.filter | filter: { done : true }">
                <h3>{{ task.name }}</h3>
                <p>{{ task.mail }}</p>
                <div>
                    <span class="pull-right">
                        <button ng-show="home.logged == 'Wyloguj' && home.email == task.mail" class="btn btn-danger btn-xs" ng-click="home.removeTask(task)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-warning btn-xs" ng-click="home.setStatus(task, 'todo')">
                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>
            </div>
        </ul>
    </div>
</div>